.photo-grid {
  padding-top: 118px;
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  gap: 16px 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    padding-top: 64px;
    max-width: 720px;
  }

  .photo-grid__item {
    /*max-width: 352px;*/
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
    padding-top: 38px;
    max-width: 320px;
  }

  .photo-grid__item {
    /*width: 288px;
    height: 216px;*/
  }
}
