.places {
  font-family: "Inter", sans-serif;
  padding: 0;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    padding-top: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 320px;
    padding-top: 62px;
  }
}
